p {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 26px;
}

div {
    background: rgb(7, 240, 42);
    background-size: cover;
    border: 3px solid red;
    width: 390px;
    text-align: center;
    box-shadow: 5px 10px 10px blue;
    border-radius: 30px;
    margin: 30px;
}

.static {
    position: static;
    top: 400px;
}

/* .relative {
    position: relative;
    left: 400px;
    top: 300px;

} */

.ancestor {
    width: 500px;
    height: 400px;
    position: relative;
    left: 400px;
}

.absolute {
    position: absolute;
    left: 500px;
    top: 300px;
}

.fixed {
    position: fixed;
    top: 100px;
    left: 300px;
}

.sticky {
    position: sticky;
    top: 100px;
}